.gerencia-container {
    height: 100vh;
    background-color: #fafafa;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gerencia-home,
.gerencia-home h1 {
    padding: 10px;
    text-align: center;
    background-color: transparent;
    color: rgb(41, 40, 40);
}

.gerencia-home-btn {
    font-size: 15px;
    border-radius: 17px;
    background-color: #fafafa;
    color: rgb(41, 40, 40);
}

.gerencia-home-btn:hover {
    transition: 0.5s;
    color: #fafafa;
    background-color: rgb(41, 40, 40);
}

.gerencia-view-aluno {
    background-color: rgb(41, 40, 40);
    color: rgb(255, 255, 255);
    border-radius: 17px;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.gerencia-view-aluno p {
    font-size: 18px;
    color: #fafafa;
}

.logo-gerencia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-gerencia img {
    height: 225px;
}

@media screen and (min-width: 600px) {
    .gerencia-home {
        margin: 0px 230px;
        padding: 0px 24px;
    }

    .gerencia-home h2 {
        padding-top: 20px;
    }

    .gerencia-view-aluno p {
        color: #fafafa;
        padding: 5px;
    }
}