.exercicio_card{
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}

.exercicio_card h4{
    background-color: rgb(131, 129, 129);
    color: #222;
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.exercicio_card p{
    color: #7a7a7a;
    margin-bottom: 1em;
}

.exercicio_card p span{
    font-weight: bold;
}

.tipo_text{
    display: flex;
    align-items: center;
}

.tipo_text span{
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.exercicio_card_actions{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.exercicio_card_actions a,
.exercicio_card_actions button{
    text-decoration: none;
    border: none;
    background-color: #FFF;
    color: #222;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.exercicio_card_actions svg{
    margin-right: .5em;
}

.exercicio_card_actions a:hover,
.exercicio_card_actions button:hover{
    background-color: #222;
    color: #FFF;
}