.aluno-home,
.aluno-home h1 {
    padding: 10px;
    text-align: left;
    background-color: #eeecec;
    color: rgb(41, 40, 40);
}

.aluno-container {
    background-color: #eeecec;
}

.treino {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 17px;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.treino p {
    font-size: 18px;
    color: rgb(83, 83, 83);
}

.aluno-home-btn {
    font-size: 15px;
    border-radius: 17px;
    background-color: rgb(41, 40, 40);
    color: #fafafa;
}

.aluno-home-btn:hover {
    transition: 0.5s;
    color: rgb(41, 40, 40);
    background-color: #fafafa;
}

.grafico {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .aluno-home {
        margin: 0px 230px;
        padding: 0px 24px;
        text-align: center;
    }

    .aluno-home h2 {
        padding-top: 15px
    }

}