*,
*::before,
*::after{
    box-sizing: border-box;
}

.exercicio{
    min-width: 14rem;
    display: flex;
    flex-direction: column;
}

.exercicio h1, 
.exercicio h2,
.exercicio p{
    margin-bottom: 0.5em;
}

.exercicio-container .btn{
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
    color: #222;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding: .6em 1em;
    margin-right: 1em;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid gray;
    border-top: 1px solid #222;
    
}

.exercicio-container .btn:hover{
    background-color: #222;
    color: #FFF;
}

.exercicio-container{
    padding: 5px;
}

.exercicio-container h1{
    padding: 0.4em;
}

.exercicio-detalhes{
    background-color: rgb(250, 250, 250);
    padding-top: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.form-field{
    width: 100%;
    padding-bottom: .7rem;
}

.exercicio-detalhes span{
    font-weight: bold;
}

.update-form-actions {
    padding-top: 10px;
    justify-content: space-between;
}

@media screen and (min-width: 600px){
    .exercicio{
        flex-direction: column;
        min-width: 14rem;
    }   

    .exercicio-container{
        padding-left: 20px;
        display: flexbox;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .exercicio-container h1{
        padding-left: 20px;
    }

    .exercicio-container .btn{
        width: max-content;
        height: max-content;
    }

}
