* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.container{
  width: 20%;
  height: max-content;
  margin: auto;
  background-color: #C0C0C0;
  padding: 20px 15px;
  margin-top: 120px;
  border-radius: 7px;
  box-shadow: 10px 11px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1{
  margin: 0;
  text-align: center;
}

.background{
  background-image: url(background.jpg);
  height: 100vh;
  width: 100%;
}

.logo{
   display: flex;
   justify-content: center;
   align-items: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}


.form-error{
  color: black;
  display: block;
  font-size: 0.9em;
  font-weight: 600;
}

.home,
.sair {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.sair {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
