.aluno-treino {
  padding: 15px;
  color: #fafafa;
  background-color: rgb(41, 40, 40);
  align-items: center;
  text-align: center;
}

.aluno-treino-detalhe p{
  font-size: 20px;
  color:rgb(201, 201, 201)
}

.aluno-treino-exercicio {
  background-color: #fafafa;
  color: black;
  margin-bottom: 10px;
  border-radius: 17px;
}

.aluno-treino-exercicio p{
  font-size: 18px;
}

.aluno-exercicio-img{
  border-radius: 17px;
  width: 100%;
}

.stopwatch {
  background-color: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  margin: 0 auto;
  width: 300px;
  height: 200px;
  position: relative;
  border-radius: 10px;
}

.stopwatch h3 {
  color: white;
  text-align: center;
  padding-top: 8px;
  letter-spacing: 1.2px;
  font-weight: 500;
}

.stopwatch-card {
  position: absolute;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 325px;
  height: 130px;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stopwatch-card p {
  font-size: 28px;
}

button {
  outline: none;
  background: transparent;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 7px;
  color: black;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin: 0 auto;
  margin-top: 5px;
}

Loading {
    background-color: transparent;
}