*,
*::before,
*::after {
  box-sizing: border-box;
}

.alunos-action {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.alunos-button {
  padding: 10px;
}

.alunos-search {
  width: 50rem;
}

.item {
  width: 500px;
  padding: 0.5em;
  border: 1px solid black;
  justify-content: space-around;
  color: black;
  font-weight: 100;
}

.pageButton {
  border: 1px solid black;
  color: black;
  margin-right: 5px;
}

.alunos-container {
  display: flexbox;
  justify-content: center;
  align-self: center;
  margin: auto;
}

.item-container {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.item-action {
  width: fit-content;
}