*,
*::before,
*::after{
    box-sizing: border-box;
}

h1{
    padding: 10px;
}

.exercicios-container{
    margin: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
}

.exercicios-action{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.exercicios-button{
    padding: 10px;
}

.exercicios-search{
    width: auto;
}


@media screen and (min-width:600px){

    .exercicios-action{
        margin-left: 4em;
        margin-right: 4em;
    }

}